*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("./../img/brique.png");

}
.TheTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #464040;
    -webkit-text-fill-color: rgba(7, 7, 7, 0.36);
    background: linear-gradient(90deg, #ffffff, #627a74, #ffffff);
    background-size: 75%;
    animation: flap 2.3s linear infinite;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 1.1rem;
}
.best_but{
    background: linear-gradient(90deg, rgba(149, 171, 171, 0.52), rgba(94, 155, 153, 0.61), rgba(149, 171, 171, 0.52));
    background-size: 75%;
    animation: flap 9.3s linear infinite;
}
@keyframes flap {
    0% {
        background-position: 0;
    }

    50% {
        background-position: 100%;
    }
    100% {
        background-position: 300%;
    }
}

h1{
    font-size: 1.5em;
}
main{
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    border-radius: 20px;
    min-width: 20%;
    border: solid 2px silver;
    border-left: solid 5px silver;
    border-bottom: solid 3px silver;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-image: url("./../img/flou.png");
    box-shadow: -10px 25px 23px 10px rgba(0,0,0,0.7);
}

.size_screen{
    border-radius: 15px;
    height: 23%;
}
form{
    height: 100%;
    border-radius: 15px;
}
.screen{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: solid 1px rgba(70, 64, 64, 0.32);
    outline: none;
    background-color: rgba(149, 171, 171, 0.52);
    backdrop-filter: blur(3px);
    color: #464040;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.but_cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". plus plus"
    "but_enter but_enter but_enter";
;
}
button{
    border: 1px solid silver;
    background-color: rgba(149, 171, 171, 0.52);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: clamp(3.5rem, 2.5vw, 4rem);
    color: #464040;

}
button:hover{
    background-color: rgba(56, 50, 50, 0.2);
}
.btn_n{
    font-size: 3.5rem;
    color: #464040;
}

.mag_but {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.mag_but button{
    font-size: clamp(3.5rem, 2.5vw, 4rem);
    color: #464040;

}

.button{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.but_enter button{
    width: 100%;
    font-size: 3.5rem;
    color: #464040;
}

.but_enter{
    grid-area: but_enter;
    margin-right: 5px;
}

.plus{
    grid-area: plus;
    font-size: 3.5rem;
    color: #464040;

}
